#
# Log
#
# Log level 0~6, 6=very detailed..1=error only, 0=disabled
# Default 4
--log-level 5

# Log to filename. If this option isn't assigned, log is just output to console.
--log-file natnl01.log

# Log append if log file exists.
#--log-append

#
# Account
#
--device-id 0010019000000000000147@aaerelay.asuscomm.com
--device-pwd 001

--callee-id 0010019000000000000146

#--device-id asus03@192.168.123.250
#--device-pwd asus03

#--callee-id asus04

#
# SIP 
#
#--sip-srv 50.112.250.103:5061                 #Bad Server
#--sip-srv 50.112.251.103:5061                 #Bad Server
#--sip-srv 50.112.252.103:5061                 #Bad Server
--sip-srv aae-sgsip065-3.asus.com:5062      #122.248.227.43
--sip-srv aae-sgsip065-2.asus.com:5062      #54.251.197.15
--sip-srv aae-sgsip065-1.asus.com:5062      #54.251.34.52
#--sip-srv aae-sgsip001-3.asus.com:5061    #54.244.67.40
#--sip-srv aae-sgsip001-2.asus.com:5061    #54.245.153.139
#--sip-srv aae-sgsip001-1.asus.com:5061    #50.112.248.103

#
# media
#
#Default 4, maximum 4
--max-calls 4

#Default 180, maximum 180, minimum 0
--tunnel-timeout 30

#disable sdp compress or not
--disable-sdp-compress 

#bandwidth control in KB/s unit, Default 0, 0 : no limit
--bandwidth-KBs-limit 0

#
# stun
#
--use-stun
--stun-srv sgstun001.asuscomm.com
--stun-srv stun.voip.aebc.com

#
# turn
#
# 0:don't use turn
# 1:UAC and UAS use respective turn server
# 2:UAC and UAS both use UAC's turn server
--use-turn 2
--turn-srv 122.248.213.175:80
--turn-srv 54.244.74.49:80

#
# upnp
#
# 0:don't use upnp
# 1:use SDK select port
# 2:use user selected port, --user-port describes the local-external port mappging
--use-upnp 1
--user-port 402-402,403-403   #format: local_data_port-external_data_port,local_control_port-external_control_port
--user-port 4002-4002,4003-4003   #format: local_data_port-external_data_port,local_control_port-external_control_port
--user-port 4004-4004,4005-4005   #format: local_data_port-external_data_port,local_control_port-external_control_port
--user-port 4006-4006,4007-4007   #format: local_data_port-external_data_port,local_control_port-external_control_port

#
# tunnel
#
#--tunnel-lport 6666 #local port
#--tunnel-rport 8888 #remote_port
--tunnel-port 65534,65535 #format: lport,rport
--tunnel-port 7077,8089
