

#
# Account
#
--device-id b1dcad856a21d0198dd3a2a352d329a7
--callee-id 3305595e6d05afbe4dfa39472786beb1

#
# SIP 
#
--sip-srv ec2-50-17-15-111.compute-1.amazonaws.com
#--sip-srv 192.168.123.251
--stun-srv stun.voip.aebc.com
#--stun-srv 192.168.123.251

#
# media
#
#--force-to-use-ice
#--use-turn
#--turn-srv numb.viagenie.ca
#--turn-srv 192.168.123.251:3488
--turn-usr dean_li@asus.com
--turn-pwd asus

#
# tunnel
#
--tunnel-lport 5555 #local port
--tunnel-rport 8000 #remote_port
