src/*.o
src/*.lo
src/.deps/
src/.libs/
src/libssh2.la
src/libssh2_config.h
tests/.deps/
tests/.libs/
tests/ossfuzz/.deps/
tests/ssh2
tests/ssh2.o

Makefile
autom4te.cache/
config.log
config.status
example/.deps/
libssh2.pc
libtool

install-sh