#
# Log
#
# Log level 0~6, 6=very detailed..1=error only, 0=disabled
# Default 4
--log-level 1

# Log to filename. If this option isn't assigned, log is just output to console.
--log-file natnl01.log

# Log append if log file exists.
#--log-append

#
# Account
#
--device-id 0010039000000000000005@aaerelay.asuscomm.com
--device-pwd 001003

--callee-id 0010039000000000000006

#
# SIP 
#
--sip-srv 23.22.121.38:5062
#--sip-srv 184.73.9.245:5061;transport=tls
#--use-tls
#-tls-verify-server

#
# media
#
--force-to-use-ice
--max-calls 4 #Default 4, maximum 32

#
# stun
#
--use-stun
--stun-srv 107.23.46.199

#
# turn
#
# 0:don't use turn
# 1:UAC and UAS use respective turn server
# 2:UAC and UAS both use UAC's turn server
--use-turn 2
--turn-srv 184.72.84.147

#
# upnp
#
# 0:don't use upnp
# 1:use SDK select port
# 2:use user selected port, --user-port describes the local-external port mappging
--use-upnp 2
--user-port 81-81,82-82   #format: local_data_port-external_data_port,local_control_port-external_control_port
--user-port 4002-4002,4003-4003   #format: local_data_port-external_data_port,local_control_port-external_control_port
--user-port 4004-4004,4005-4005   #format: local_data_port-external_data_port,local_control_port-external_control_port
--user-port 4006-4006,4007-4007   #format: local_data_port-external_data_port,local_control_port-external_control_port

#
# tunnel
#
#--tunnel-lport 6666 #local port
#--tunnel-rport 8888 #remote_port
--tunnel-port 6666,8888 #format: lport,rport
--tunnel-port 7777,8088
